# Ignore Python cache files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folders
venv/

# Ignore database files
*.sqlite3

# Ignore Django static files
static/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore other temporary files
*.tmp
*.bak
*.swp
*.swo

# Ignore compiled files
*.c
*.o
*.so

# Ignore PyWhatKit database file
PyWhatKit_DB.txt